
@import "project-variables";
$danger: $secondary;
@import "bulma-variables";
@import "bulma/bulma.sass";
@import "helpers";


html {
  overflow: auto;
}
a {
  color: $secondary;
}
hr {
  background-color: $secondary;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s ease-in;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.button.is-secondary {
  background: $secondary;
  color: $white;
  :hover {
    color: $white;
  }
}
